@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Yeon Sung", cursive;
  color: #fff;
  background-image: url("./image/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}


.container {
  /* border: 3px solid red; */
  position: absolute;
  top: 50;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.counter-container {
  /* border: 3px solid dodgerblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.counter-container span {
  text-align: center;
  padding: 40px;
  font-size: 3.5rem;
}

.counter-container p {
  text-align: center;
  font-size: 1.8rem;
}

h1 {
  font-size: 3.5rem;
}

#nextYear {
  position: absolute;
  bottom: 10px;
  font-size: 200px;
  /* font-size: 2.2rem; */
  color: rgba(255, 255, 255, 0.315);
  z-index: 10;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .counter-container span {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
  }
  .counter-container p {
    text-align: center;
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  #nextYear {
    position: absolute;
    bottom: 10px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.315);
    z-index: 10;
  }
}
